In [1]:
print ("Hello World")

Hello World

In [6]:
5!=2

True

In [10]:
print ("There are 20 pupils in a class")

There are 20 pupils in a class

In [1]:
# python integer
#create a python integer

whole_num = 5
print (whole_num)

5

In [2]:
# create more integers and add them together to create more integers
num_two = 20
num_three = whole_num + num_two
print (num_three)

25

In [3]:
#subtraction
num_four = num_three - whole_num
print (num_four)

20

In [4]:
# multiplication
num_five = num_four * whole_num
print(num_five)

100

In [6]:
#division
num_six = num_five / whole_num
print(num_six) # answer is a float because it has a decimal

20.0

In [7]:
#type checking
print(type(num_six))
print(type(num_four))

<class 'float'>
<class 'int'>

In [10]:
#floor division #removes decimal and returns an integer instead of a float
num_seven = num_five//whole_num
print(num_seven)
print(type(num_seven))

20
<class 'int'>

In [14]:
# integers can be used to keep track of python loops
for x in range (1, 6):
    print (x)

1
2
3
4
5

In [15]:
#other data types can be converted as integers if the data type is suitable
num_eight = int(5.5) #cost a float 5.5 as an integer with the value 5
num_nine = int("3") #cost the string as integer with the value 3
print (num_eight)
print (type(num_eight))
print(num_nine)
print(type(num_nine))

5
<class 'int'>
3
<class 'int'>