In [60]:
# Python List can contain any kind of object irrespective of its type

# Create my first Python list
list_1 = [7, 4, 3, 9, "bananas"]
print(type(list_1))
print(list_1)

<class 'list'>
[7, 4, 3, 9, 'bananas']

In [61]:
# Shows how to address list objects using the objects position inside the list
print(str(list_1[3]) + str(list_1[2]) + " " + str(list_1[4]))  # str(list[index]) instructs Python to print the content at position index "as a string"
# This is one way to control the output from a list

93 bananas

In [62]:
# Operate on list objects using the list element notation
print(type(list_1[3]))
print(type(str(list_1[3])))

<class 'int'>
<class 'str'>

In [63]:
# A List object's content may be changed by assignment:
list_1[2] = 2
print(list_1) # This prints 7, 4, 2, 9, 'bananas' as 3 is replaced by 2

[7, 4, 2, 9, 'bananas']

In [64]:
# New objects can be added to a list with the append() method
list_1.append("apples")
print(list_1)

[7, 4, 2, 9, 'bananas', 'apples']

In [65]:
# Remove objects from a list using the del statement or the remove() method
del list_1[4]
print(list_1)

[7, 4, 2, 9, 'apples']

In [66]:
list_1.remove("apples")
print(list_1)

[7, 4, 2, 9]

In [67]:
# Python lists can be added together using inter alia the + operator or the Extend() or Append() methods:
# Create a list_2 and list_3
list_2 = [1, 4, 5, 6, 8]
list_3 = list_1 + list_2
print(list_3)   # 7, 4, 2, 9, 1, 4, 5, 6, 8

[7, 4, 2, 9, 1, 4, 5, 6, 8]

In [68]:
list_1.append(list_3)
print(list_1)

[7, 4, 2, 9, [7, 4, 2, 9, 1, 4, 5, 6, 8]]

In [69]:
list_3.extend(list_2)
print(list_3)  # 7, 4, 2, 9, 1, 4, 5, 6, 8, 1, 4, 5, 6, 8

[7, 4, 2, 9, 1, 4, 5, 6, 8, 1, 4, 5, 6, 8]

In [70]:
print(len(list_3))  # 14
print(len(list_1)) # 5

14
5

In [71]:
# Sort list_3
print(list_3)
list_3.sort()
print(list_3)
# The list has been sorted based on the value of the integers in the list.

[7, 4, 2, 9, 1, 4, 5, 6, 8, 1, 4, 5, 6, 8]
[1, 1, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9]

In [72]:
# Address ranges of the list
print(list_3[1:4])
print(list_3[:3])
print(list_3[12:])

[1, 2, 4]
[1, 1, 2]
[8, 9]

In [73]:
# Loop a list
for x in list_3:
	print(x)

1
1
2
4
4
4
5
5
6
6
7
8
8
9

In [74]:
# Move objects from one list to another list
print(list_1)
print(list_3)
list_3.append(list_1.pop(1)) #pop mean position
print(list_1)
print(list_3)

[7, 4, 2, 9, [1, 1, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9]]
[1, 1, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9]
[7, 2, 9, [1, 1, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 4]]
[1, 1, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 4]

In [75]:
# Move objects from one list to a specified position in another list
print(list_1)
print(list_3)
list_3.insert(2, list_1.pop(0)) #7 has been replaced by 2
print(list_1)
print(list_3)

[7, 2, 9, [1, 1, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 4]]
[1, 1, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 4]
[2, 9, [1, 1, 7, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 4]]
[1, 1, 7, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 4]

In [76]:
#advanced list functions
# Use python functions type() or isinstance() to check object type if you don’t control list input or list contents.
# Object type checking *may* be straightforward when all data is molded into a Python compatible form or a Python form.
# This is not always true, for example when sent unknown data over the internet or using analog or digital measurement systems
# Type checking can *very* quickly become advanced.

In [77]:
# Basic functions for this assuming a list of integers or the intention to have a list of integers…
string_test1 = "1"
string_test2 = 1
list_3.append(string_test1)
list_3.append(string_test2)
print(list_3)

[1, 1, 7, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 4, '1', 1]

In [78]:
for x in list_3:
	if type(x) is not int:
		print("not integer")
	else:
		print("integer")
for x in list_3:
	if isinstance(x, int):
		print("integer")
	else:
		print("not integer")

integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
not integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
integer
not integer
integer

In [79]:
# Multi-level lists
list_4 = [1, 3, 5]
list_5 = [2, 4, 6]
list_6 = [3, 5, 7]
list_7 = [list_4, list_5, list_6]
print(list_7)

[[1, 3, 5], [2, 4, 6], [3, 5, 7]]

In [80]:
print (list_7)
print (list_7[0][1])

[[1, 3, 5], [2, 4, 6], [3, 5, 7]]
3

In [81]:
list_4.extend(list_5)
print(list_7)

[[1, 3, 5, 2, 4, 6], [2, 4, 6], [3, 5, 7]]

In [82]:
# Extend the 2nd level nested list with a third level
list_5.extend(list_1)
print(list_7)

[[1, 3, 5, 2, 4, 6], [2, 4, 6, 2, 9, [1, 1, 7, 2, 4, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 4, '1', 1]], [3, 5, 7]]

In [83]:
# Access third level objects
print(list_7[1][5][2])

7

In [84]:
# Access third level objects with a For-loop
for x in list_7[1][5]:
	print(x)

1
1
7
2
4
4
4
5
5
6
6
7
8
8
9
4
1
1

In [ ]:
#it is advisable to use as few nested list as possible to avoid too much complexities